article.article(data-id= _id data-article-id= articleID )
	h1.title= title
	p.summary= summary
	div.content(data-contentType= contentType)= content
	footer
		span.edit Edit
		span.save(style='display: none') Save
		span.delete(style='display: none') Delete