extends layout

block menu
	div Item 1
	div Item 2
	div Item 3
block header
	article#article-header(data-article-id='1234')= title
block content
	p#article-content
		| Hello! I'm Josh Bacon and you've stubbled upon my personal web app portfolio! I've created this site for eductional purposes as I begin to explore the Node.js runtime, JavaScript, and the ExpressJS framework! My intentions are to establish a hub for sharing my projects, code, resources, and/o any other useful or otherwise interesting information for fellow developers. Thanks for stopping by!