extends layout

block menu
	div Item 1
	div Item 2
	div Item 3
block header
	div= title
block content
	| Hello! I'm Josh Bacon and you've stubbled upon my personal web app portfolio! I've created this site for  eductional purposes while I explore the Node.js framework and advance my understanding of web development. My intentions are to establish a hub for sharing all projects, code, resources, as well as any useful or otherwise interesting information that my fellow developers/engineers may find helpful as well. Thanks for stopping by!
