extends layout

block menu
	div Item 1
	div Item 2
	div Item 3
block header
	article#article-header(data-article-id='59344c18e987af001c119f93') Welcome!
block content
	p#article-content
		| Hello! I'm Josh Bacon and you've entered my personal portfolio! Please explore my site, I'd love to share my passion for technology with you! I invite you to read through my articles postings, visit my social profiles, identify yourself via Facebook authentication, and/or provide any commentary you'd like (no vulgarity please!). Creating this app was great fun, and I hope you find it interesting. Behind-the-scenes is M.E..N technology (I chose to ignore front-end frameworks for now, sorry Angular/React fans!). NodeJS runtime, ExpressJS framework, MongoDB document store, PugJS templating, JSPM, NPM... just some of tools/tech used for this build (from the ground up!). Please do Email me if you have any questions. Thanks for stopping by!