article.comments {
	margin: 0px 0px 0px 20px;
}
article.comments > h1 {
	margin: 0px 0px 0px 20px;
}
article.comments > footer {
	margin: 0px 0px 0px 20px;
}
article.comment {
	margin: 0px 0px 0px 20px;
}
article.comment > h1 {
	margin: 0px 0px 0px 0px;
}
article.comment > p {
	margin: 0px 0px 0px 0px;
}
article.comment > footer {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > span.up-vote-count {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > span.up-vote {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > span.down-vote-count {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > span.down-vote {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.replies-toggle {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.load-newer {
	margin: 0px 0px 0px 20px;
}
article.comment > footer > div.replies {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.load-older {
	margin: 0px 0px 0px 20px;
}
article.comment > footer > div.reply-toggle {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.create {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.create > input.text  {
	margin: 0px 0px 0px 0px;
}