article.comment {
	margin: 0px 0px 0px 0px;
	width: 600px;
}
article.comment > h1 {
	margin: 0px 0px 0px 0px;
}
article.comment > p {
	margin: 0px 0px 0px 0px;
	border-left: 2px outset red;
	font-size: 18px;
}
article.comment > footer {
	margin: 0px 0px 0px 0px;
	border-bottom: 2px outset red;
	border-left: 2px outset red;
}
article.comment > footer > div {
	line-height: 28px;
	font-size: 12px;
}
article.comment > footer > div > span {
	display: inline-block;
	line-height: 25px;
	padding: 0px 5px 0px 5px;
	border-right: 2px outset red;
}
article.comment > footer > div > span.replies-toggle {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div > span.load-newer {
	margin: 0px 0px 0px 20px;
}
article.comment > footer > div > span.up-vote-count {
	float: right;
}
article.comment > footer > div > span.up-vote {
	float: right;
}
article.comment > footer > div > span.down-vote-count {
	float: right;
}
article.comment > footer > div > span.down-vote {
	float: right;
}
article.comment > footer > div > span.remove {
	float: right;
}
article.comment > footer > div > span.flag {
	float: right;
}
article.comment > footer > div.replies {
	margin: 0px 0px 0px 20px;
}
article.comment > footer > div.load-older {
	margin: 0px 0px 0px 20px;
}
article.comment > footer > div.reply-toggle {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.create {
	margin: 0px 0px 0px 0px;
}
article.comment > footer > div.create > input.text  {
	margin: 0px 0px 0px 0px;
}